{{#each this}}
<div class="card">
    <h2 class="card-title">{{name}}</h2>
    <div class="card-container">
        <div>
            <p class="card-text"><b>Capital:</b> {{capital}}</p>
            <p class="card-text"><b>Population:</b> {{population}}</p>
            <p class="card-text"><b>Languages:</b></p>
            <ul>
                {{#each languages}}
                <li class="card-text">{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <img src="{{flag}}" alt="{{name}}" width="480" />
    </div>
</div>
{{/each}}